- content_for :title do
  |Show JSON

- content_for :description do
  markdown:
    Shows contents of the `#{json_file}`

- content_for :header do
  |Cool table

.file ng-controller="FileCtrl" ng-init="init()"
  |File!!! :)